{% extends 'base.html.twig' %}
{% block title %}归档{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/public/static/css/list.css"/>
{% endblock %}
{% block body %}
    <ul class="archives animated fadeIn">
        {% set yearFlag = '' %}
        {% for article in articles %}
            {% if article.year is not same as(yearFlag) %}
                <li class="year">{{ article.year }}</li>
            {% endif %}
            {% set yearFlag = article.year %}
            <li class="archivesBox animated fadeInUp">
                <span>{{ article.mouth }}-{{ article.day }}</span>&nbsp;&nbsp;
                <a class="archives-title" href="/detail/{{ article.aid }}">{{ article.title }}</a>
                {% if article.tags|length>0 %}
                    &nbsp;标签：
                    {% for tag in article.tags %}
                        <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <script>
        //添加动画
        listDelay = 500;
        $('.article').each(function () {
            $(this).css('animation-delay', listDelay + 'ms');
            listDelay += 200;
        })
    </script>
{% endblock %}