{% extends "base.html.twig" %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ ROOT_PATH }}/static/css/detail.css"/>
{% endblock %}
{% block body %}
    <div class="article">
        <div class="title animated flipInX">{{ article.title }}</div>
        <div class="info animated flipInX">
            <span>{{ article.creatDate }}</span>
            {% if article.tags|length>0 %}
                &nbsp;|&nbsp;标签：
                {% for tag in article.tags %}
                    <a class="tag" href="{{ ROOT_PATH }}/tag/{{ tag }}">{{ tag }}</a>&nbsp;
                {% endfor %}
            {% endif %}
        </div>
        <div class="content animated fadeInUp">
            {{ article.content|raw }}
        </div>
        <hr>
        <div class="other col-sm-12 animated fadeInUp delay-1s">
            <div class="previous">
                Previous Post <br>
                {% if previous.aid is same as('0') %}
                    <a>{{ previous.title }}</a>
                {% else %}
                    <a href="{{ ROOT_PATH }}/detail/{{ previous.aid }}">
                        {{ previous.title }}
                    </a>
                {% endif %}
            </div>
            <div class="next">
                Next Post <br>
                {% if next.aid is same as('0') %}
                    <a>{{ next.title }}</a>
                {% else %}
                    <a href="{{ ROOT_PATH }}/detail/{{ next.aid }}">
                        {{ next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}