{% extends "base.html.twig" %}
{% block title %}
    {{ article.title|slice(0,10) }}
    {% if article.title|length >10 %}
        ...
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/public/static/css/detail.css"/>
{% endblock %}
{% block body %}
    <div class="article">
        <div class="title animated flipInX">{{ article.title }}</div>
        <div class="info animated flipInX">
            <span>{{ article.creatDate }}</span>
            {% if article.tags|length>0 %}
                &nbsp;|&nbsp;标签：
                {% for tag in article.tags %}
                    <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
                {% endfor %}
            {% endif %}
        </div>
        <div class="content animated fadeInUp">
            {{ article.content|raw }}
        </div>
        <hr>
        <div class="other col-sm-12 animated fadeInUp delay-1s">
            <div class="previous">
                Previous Post <br>
                {% if previous.aid is same as('0') %}
                    <a>{{ previous.title }}</a>
                {% else %}
                    <a href="/detail/{{ previous.aid }}">
                        {{ previous.title }}
                    </a>
                {% endif %}
            </div>
            <div class="next">
                Next Post <br>
                {% if next.aid is same as('0') %}
                    <a>{{ next.title }}</a>
                {% else %}
                    <a href="/detail/{{ next.aid }}">
                        {{ next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $('.article').find('img').each(function () {
            $(this).wrapAll('<div class="img-container"></div>');
        });
        var imgLoad = imagesLoaded('.article');
        imgLoad.on('always', function () {
            for (var i = 0, len = imgLoad.images.length; i < len; i++) {
                var image = imgLoad.images[i];
                if (image.isLoaded) {
                    $(image.img).animate({
                        'opacity': 1,
                    }, 500);
                    console.log('image ' + image.img.src + ' is successfully loaded');
                } else {
                    console.log('image is broken for ' + image.img.src);
                }
            }
        });
    </script>
{% endblock %}