{% extends 'adminBase.html.twig' %}
{% block title %}杂项管理{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/public/static/css/admin/info.css">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div role="tabpanel" class="tab-pane active" id="{{ module }}">
            <div class="data-container">
                {% for item in data %}
                    <div class="row card">
                        <div class="form-group">
                            {% if module=='banners' %}
                                <h4>标题</h4>
                                <input class="form-control"
                                       type="text" value="{{ item.title }}" name="title">
                                <h4>链接</h4>
                                <input class="form-control" type="text" value="{{ item.url }}" name="url">
                                <h4>摘要</h4>
                                <input class="form-control" type="text" value="{{ item.abstract }}" name="abstract">
                                <h4>背景</h4>
                                <input class="form-control" type="text" value="{{ item.background }}" name="background">
                            {% elseif module=='tags' %}
                                <div class="form-group col-sm-10">
                                    <input class="form-control" type="text" value="{{ item }}">
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-2">
                            <button class="btn btn-danger" onclick="del(this)">删除</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="add-{{ module }}" class="btn btn-default" onclick="add(this)">
                +
            </button>
            <button id="submit-{{ module }}" class="btn btn-default" onclick="sendData(this)">
                提交
            </button>
            <div class="save" style="display: none;"></div>
        </div>
    </div>
    <script>
        function getData(ele, assoc) {
            var name = ele.id.split('-')[1];
            var data = [];
            var i = 0;
            $('#' + name).find('.card').each(function () {
                if (assoc) data[i] = {};
                $(this).find('input').each(function () {
                    if (assoc) {
                        data[i][this.name] = this.value;
                    } else {
                        data.push(this.value);
                    }
                });
                i++
            });
            return JSON.stringify(data);
        }

        function sendData(ele) {
            var name = ele.id.split('-')[1];
            assoc = name === 'banners';
            var data = getData(ele, assoc);
            $.ajax({
                url: "/admin/apiChangeInfo",
                method: "post",
                data: {
                    "data": data,
                    "name": name
                },
                success: function (ret) {
                    ret = JSON.parse(ret);
                    if (ret.state === '1') {
                        showMsg('更改成功，即将自动刷新页面。');
                        setTimeout("window.location.reload()", 1000);
                    } else {
                        showMsg('error: ' + ret.msg);
                    }
                }
            });
            //console.log(data)
        }

        function add(ele) {
            var name = ele.id.split('-')[1];
            var card = $('#' + name).find('.card');
            var parent = card.parent();
            parent.find('div').removeClass('animated');
            if (parent.parent().find('.save').html() === '') {
                let cardContent = card.html();
                let saveContainer = parent.parent().find('.save');
                saveContainer.html(cardContent);
                saveContainer.find('input').each(function () {
                    $(this).attr('value', '');
                })
            }
            var save = parent.parent().find('.save').html();

            newData = '<div class="row card animated fadeInDown">' + save + '</div>';
            parent.append(newData);
        }

        function del(ele) {
            var card = $(ele).parent().parent();
            let len = card.parent().find('.card').length;
            if (len <= 1) {
                alert('Can not delete the only one node!')
            } else {
                card.remove();
            }
        }
    </script>
{% endblock %}