<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <script src="/public/static/library/jquery-3.3.1.min.js"></script>
    <script src="/public/static/library/imagesloaded.pkgd.min.js"></script>
    <script src="/public/static/library/swiper-4.5.0/swiper.min.js"></script>
    <link rel="stylesheet" href="/public/static/library/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/static/library/animate.css"/>
    <link rel="stylesheet" href="/public/static/library/swiper-4.5.0/swiper.min.css">
    <link rel="stylesheet" href="/public/static/css/base.css"/>
    <link rel="stylesheet" href="/public/static/library/highlight/styles/monokai.css">
    <script src="/public/static/library/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div class="col-sm-12 nav">
    <div class="nav-header animated fadeIn">
        <div class="logo">
            <span>Welcome To {{ about.name|title }}'s Blog</span>
        </div>
        <div class="sentence-container">
            一个人至少拥有一个梦想，有一个理由去坚强。心若没有栖息的地方，到哪里都是在流浪。
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 40px;padding: 0;">
    {#博客正文#}
    <div class="col-sm-7" style="padding: 0">
        <div class="bodyBox col-sm-11 col-sm-offset-1">
            {% block body %}{% endblock %}
        </div>
    </div>
    {#全局内容#}
    <div class="col-sm-5" style="padding: 0">
        <div class="col-sm-10 col-sm-offset-1" style="padding: 0">
            {#占位用div#}
            <div class="hidden-xs" style="margin-top: -50px;"></div>
            <div class="info-container">
                <div class="table-container">
                    <a href="/" class="animated fadeIn">
                        <div><span class="glyphicon glyphicon-home"></span>&nbsp;首页</div>
                    </a>
                    <a href="/archives" class="animated fadeIn">
                        <div><span class="glyphicon glyphicon-time"></span>&nbsp;归档</div>
                    </a>
                    <a href="/about" class="animated fadeIn">
                        <div><span class="glyphicon glyphicon-user"></span>&nbsp;关于我</div>
                    </a>
                    <script>
                        var delay = 500;
                        $('.table-container').find('a').each(function () {
                            $(this).css('animation-delay', delay + 'ms');
                            delay += 150;
                        })
                    </script>
                </div>
                <div class="search-container animated fadeInDown">
                    <input type="text" placeholder="Search..." id="kw"
                           onkeypress="return onKeyPress(event)">
                    <button onclick="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <script>
                        function onKeyPress(e) {
                            var keyCode = null;
                            if (e.which)
                                keyCode = e.which;
                            else if (e.keyCode)
                                keyCode = e.keyCode;
                            if (keyCode === 13) {
                                search();
                                return false;
                            }
                            return true;
                        }

                        function search() {
                            window.location.href = "/search/" + $("#kw").val()
                        }
                    </script>
                </div>
            </div>
            {#轮播图#}
            <div class="slideShow animated fadeInRight">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for banner in banners %}
                            {% set bgstyle = ':' ~ banner.background ~ ';' %}
                            {% if banner.background|slice(0,1) is not same as('r') and banner.background|slice(0,1) is not same as('#') %}
                                {% set bgstyle = '-image:url("' ~ banner.background ~ '");' %}
                            {% endif %}
                            <div class="swiper-slide" style="background{{ bgstyle }}">
                                <a href="{{ banner.url }}">
                                    <div class="banner-block">
                                        <div class="banner-title" data-swiper-parallax="-400">
                                            {{ banner.title }}
                                        </div>
                                        <div class="banner-content" data-swiper-parallax="-300">
                                            {{ banner.abstract }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- 分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                <script>
                    var mySwiper = new Swiper('.swiper-container', {
                        //loop: true,
                        autoplay: {
                            delay: 5000
                        },
                        spaceBetween: 20,
                        touchRatio: 2,
                        parallax: true,

                        // 分页器
                        pagination: {
                            el: '.swiper-pagination',
                            dynamicBullets: true,//自动隐藏多的小圆点
                        },
                    })
                </script>
            </div>
            <div class="tagClouds animated fadeInRight">
                已有标签<br>
                {% for tag in tags %}
                    <a href="/tag/{{ tag }}" class="tagCloud">{{ tag }}</a>
                {% endfor %}
            </div>
            {#end#}
        </div>
    </div>
    {#全局内容#}
</div>

<div class="back-top animated" onclick="backTop()">
    <span class="glyphicon glyphicon-menu-up"></span>
    <script>
        function backTop(minHeight = 20) {
            $('.back-top').click(function () {
                $('html, body').animate({scrollTop: 0}, 200)
            });
            $(window).scroll(function () {
                var s = $(window).scrollTop();
                if (s > minHeight) {
                    $('.back-top').fadeIn().addClass('fadeInRight faster').removeClass('zoomOutRight')
                } else {
                    $('.back-top').addClass('zoomOutRight').removeClass('fadeInRight faster')
                }
            })
        }

        backTop()
    </script>
</div>
<div class="footer-base animated fadeIn delay-1s">
    {% block footer %}
        &copy; 2017-<span id="footer-base-time"></span>&nbsp;
        <span class="glyphicon glyphicon-heart"></span>&nbsp;{{ about.name }}
        <script>
            let date = new Date;
            let year = date.getFullYear();
            $('#footer-base-time').text(year);
        </script>
    {% endblock %}
</div>
</body>
</html>