{% extends "base.html.twig" %}
{% block title %}{{ about.name }}'s blog{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/public/static/css/index.css"/>
{% endblock %}
{% block body %}
    <div class="articleList">
        {% for article in articles %}
            <div class="article animated zoomIn">
                <div class="title">
                    <a href="/detail/{{ article.aid }}">{{ article.title }}</a>
                </div>
                <div class="info">
                    <span>{{ article.creatDate }}</span>
                    {% if article.tags|length>0 %}
                        &nbsp;|&nbsp;标签：
                        {% for tag in article.tags %}
                            <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ article.abstract|raw }}
                    ...
                </div>
                <hr>
            </div>
        {% endfor %}
        {#分页#}
        <div class="pages animated fadeInLeft">
            <ul>
                {#上一页#}
                {% if page>1 %}
                    <a href="/{{ page-1 }}">
                        <li><span class="glyphicon glyphicon-menu-left"></span></li>
                    </a>
                {% endif %}
                {#分页#}
                {% for i in range(1,pageCount) %}
                    <a href="/{{ i }}">
                        <li {% if i==page %}style="background: #757575;color: #ffffff;"{% endif %}>{{ i }}</li>
                    </a>
                {% endfor %}
                {#下一页#}
                {% if page<pageCount %}
                    <a href="/{{ page+1 }}">
                        <li><span class="glyphicon glyphicon-menu-right"></span></li>
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
    <script>
        //添加动画
        listDelay = 500;
        $('.article').each(function () {
            $(this).css('animation-delay', listDelay + 'ms');
            listDelay += 200;
        })
    </script>
{% endblock %}